<div class="center-text">
<h2>Covid news</h2>
<h4>Which country do you want to see?</h4>

<p-dropdown (onChange)="onChangeDropdown($event)" [options]="countries" [(ngModel)]="selectedCountry" optionLabel="Country" [filter]="true" filterBy="Country"
    [showClear]="true" placeholder="Select a Country">
    <ng-template pTemplate="selectedItem">
        <div class="country-item country-item-value" *ngIf="selectedCountry">
            <img src="assets/flag_placeholder.png"
                [class]="'flag-icon flag-icon-' + selectedCountry.ISO2.toLowerCase()" />
            <div>{{selectedCountry.Country}}</div>
        </div>
    </ng-template>
    <ng-template let-country pTemplate="item">
        <div class="country-item">
            <img src="assets/flag_placeholder.png" [class]="'flag-icon flag-icon-' + country.ISO2.toLowerCase()" />
            <div>{{country.Country}}</div>
        </div>
    </ng-template>
</p-dropdown>
</div>

<br>

<div  *ngIf="div_visible">
    <p-progressBar  mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
</div>

<p-table [value]="details" sortField="Date" [sortOrder]="-1" [paginator]="true" [rows]="10"
    [rowsPerPageOptions]="[10,20,30]"  *ngIf="selectedCountry">
    <ng-template pTemplate="header">
        <tr>
            <th [pSortableColumn]="'Date'">Date
                <p-sortIcon [field]="'Date'"></p-sortIcon>
            </th>
            <th>Confirmed</th>
            <th>Deaths</th>
            <th>Recovered</th>
            <th>Active</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-detail>
        <tr>
            <td>{{detail.Date | date:'mediumDate'}}</td>
            <td>{{detail.Confirmed}}</td>
            <td>{{detail.Deaths}}</td>
            <td>{{detail.Recovered}}</td>
            <td>{{detail.Active}}</td>
        </tr>
    </ng-template>
</p-table>